.input {
    width: 544px;
    height: 56px;
    border-radius: 2px;
    font-family: "Inter", sans-serif;
    border: none;
    padding: 0 20px;
    font-size: 16px;
}

.input:focus {
    outline: 2px solid grey;
}

.input:disabled {
    background-color: rgb(208, 208, 208);
}

.label {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.error {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: rgb(253, 52, 25);
    margin-top: 10px;
}